<div class="register_container">
  <div class="form_container">
    <h1><strong>Login :</strong></h1>
    <mat-card>
      <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <mat-form-field>
          <input
            matInput
            placeholder="Insert username..."
            type="text"
            formControlName="username"
          />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            placeholder="Insert password..."
            type="password"
            formControlName="password"
          />
        </mat-form-field>
        <div class="button">
          <button mat-raised-button color="primary" type="submit">login</button>
        </div>
      </form>
      <p>Not a registered user?</p>
      <a routerLink="/register">Register</a>
    </mat-card>
  </div>
</div>
